@model IEnumerable<Fixture>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Livescores</h1>
</div>

@foreach (var fixture in Model)
{
    <div class="card">
        <div class="card-body">
            @fixture.HomeTeam vs @fixture.AwayTeam
        </div>
    </div>
}
